{{>layout/header}}

<!--<div class="navi" style="margin: 50px 0 0 35px;">-->
<!--    <a href="/map">코로나 지도</a>-->
<!--    <a href="">게시판</a>-->
<!--</div>-->
<h1>코로나 자유게시판</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col" style="text-align: center">번호</th>
            <th scope="col" style="text-align: center">제목</th>
            <th scope="col" style="text-align: center">작성자</th>
            <th scope="col" style="text-align: center">최종수정일</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                <td>{{author}}</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
</div>

{{>layout/footer}}